.subtopics {
    &__wrapper {
        margin-top: 10px;
        width: 100%;
        
    }
    .description {
        display: grid;
        grid-template-columns: repeat(3, 335px);
        height: 240px;
        justify-content: space-around;
        cursor: pointer;
        span {
            font-size: 22px;
            color: $second-color;
            // display: none;          
        }

        &-item {
            .text-head {
              text-align: center;
              color: $second-color;
            }
            .text-descr {
            line-height: 1.32;
            }
        }
    }

    #subtopicsAddText1, #subtopicsAddText2, #subtopicsAddText3 {
        span {
            display: none;
        }
        :hover {
            span {
            display: inline-block;
            }
        }
    }


    &__main {
        margin-top: 20px;
        text-align: center;
    }

    &__main-descr {
        max-width: 800px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }

    &__main-end {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 1.57;     
    }
    
    // &__img-alpha {
    //     margin-top: -650px;
    //     right: 0px;
    //     padding-left: 896px;    
    //     img {
    //         position: absolute;
    //         z-index: -2;
    //         transform: scale(-1, 1);
    //     }       
    // }







}